*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightskyblue;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}
/* .question{
} */

main{
    display: flex;
    width: 70%;
    margin: auto;
}

h1{
    background-color: blue;
}

li{
    background-color: blue;
}

 nav ul li a {
        color: white;
        text-decoration: none;
        padding: 8px 12px;
        display: flex;
        list-style-type: none;
        transition: ease-in-out 0.3s;
        background-color: blue;
    }
.question{
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
.class-options-ansers{
    border: 2px solid blue
}
.nox{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  3rem;
    font-weight: bolder;
    background-color: blueviolet;
    
}

.nor{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:  3rem;
    font-weight: bolder;
    gap: 2rem;
    margin-top: 3rem;
    background-color: blueviolet;
}

